DATABASE_URL=

JWT_SECRET=
JWT_EXPIRES_IN= #example "15m"
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN= #Example "7d" 
JWT_ISSUER= #example"back-bioactiva"
JWT_AUDIENCE=#example "back-bioactiva-web"
BCRYPT_SALT_ROUNDS=

ADMIN_EMAIL=
ADMIN_PASSWORD=
REFRESH_TOKEN_COOKIE_NAME= #can be empty in development, but should be set in production for security reasons
NODE_ENV= #example "development" or "production"
ALLOWED_EMAIL_DOMAINS= #example "example.com,anotherdomain.com"

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
INVITATION_EMAIL_QUEUE=invitation-email #just testing
MAIL_FROM=no-reply@back-bioactiva.com #just testing, should be set to a valid email in production