DATABASE_URL=

JWT_SECRET=
JWT_EXPIRES_IN= #example "15m"
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN= #Example "7d" 
JWT_ISSUER= #example"back-bioactiva"
JWT_AUDIENCE=#example "back-bioactiva-web"
BCRYPT_SALT_ROUNDS=

ADMIN_EMAIL=
ADMIN_PASSWORD=