FRONTED_URL=
DATABASE_URL=
REDIS_URL=

JWT_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=
JWT_ISSUER=
JWT_AUDIENCE=
BCRYPT_SALT_ROUNDS=

ADMIN_EMAIL=
ADMIN_PASSWORD=
REFRESH_TOKEN_COOKIE_NAME=
