# compiled output
/docker-data
/dist
/node_modules
/build
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.context
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.env.off*
.env.deploy
.env.docker

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

/generated/prisma

##For nixos
.direnv/

##For personal reasons
/.context
docs/
ctx_files/

cookies.txt
coverage/
scripts/
skills/
documentacion/

.venv/
__pycache__/
## AI context files
GEMINI.md
SKILL.md


# Project documentation (local only)
\# 6 crm_bioactiva_especificacion.md
\# 7. ANÁLISIS DE REQUERIMIENTOS FUN.md
\# 8. MODELO DE DATOS y Diccionario.md
\# 9. ARQUITECTURA DE LA SOLUCIONmd.md

# symlink para importar sunat-app como módulo Python
sunat_app
*.deploy

credentials/